.Soda {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    top: 200px;
    left: 36%;
    transform: rotateZ(-7deg);
}
.Soda > a:hover {
    text-decoration: underline;
    color: blueviolet;

}